{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>This service is for learning providers who submit the ILR (Individual Learner Record) collection and receive agreed periodic payments based on their profile.</p>

      <p>By submitting a funding claim, you’ll:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>meet your contract terms and conditions</li>
        <li>see your current delivery position and whether you’re on target to meet your allocation value</li>

      </ul>

      <p>We’ll use the data you submit in your final Funding Claimto set your support payments for the next academic year.</p>

      <a href="sign-in.html" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Sign in</a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your IdAMs (Information Management Services system) login details</li>
        <li>correct data for the current year's learning activity</li>
      </ul>

    </div>


    <!-- <p>The service will help you to understand:</p> -->



    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
