{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<script src="/public/javascripts/tt.js"></script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Year end funding claim

      <!-- <span class="govuk-caption-xl">Adult Funding Claim 2018/19</span> -->

    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-column-one-third sticky-side-bar">
      <aside >
        <h2 class="govuk-heading-m">Adult Funding Claim 2018/19</h2>
        <ul id="nav" class="govuk-list">
          <li><a href="#aeb-np">Adult Education Budget (non-procured)</a></li>
          <li> <a href="#ls-p">Learner support (procured AEB)</a></li>
          <li><a href="#allb">Advanced Learner Loans Bursary</a></li>
        </ul>
      </aside>
    </div>


    <div class="govuk-grid-column-two-thirds">

      <!-- <div class="sticky">
      <span class="govuk-heading-m">Adult Funding Claim 2018/19</span>
      </div> -->

      <div id="aeb-np" class="govuk-grid-row wrapper">
        <div class="govuk-grid-column-full">
        <div>
          <h2 class="govuk-heading-m">
            Adult education budget (non-procured)
          </h2>
        </div>
          <p>Total: £110,234.82</p>
              <p>Contract value: £7,900.00<br>
              Incl. community learning: £1,000.00</p>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Other learning - programme funding</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a2"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b2">
                        <!-- <strong><a href="#">Edit</a></strong> -->
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c2"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Other learning - learning support</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a3"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding"  id="b3"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding"  id="c3"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">19-24 Traineeships programme funding</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a4"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b4"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c4"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">19-24 Traineeships learning support</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a5"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b5"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c5"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">19-24 Traineeships learner support</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a6"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b6"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c6"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Learner support - 19+ Hardship</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric "><span>£</span><span class="fig 1">7000</span></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner fig-edit1" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="fig2"><span>£</span><span class="fig 2">6000</span></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner fig-edit2" name="width-10" type="text">
                      </td>
                    </tr>



                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" ><span>£</span><span id="total">13000</span></td>
                    </tr>

                    <!-- <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" ><a href="#">Update</a></td>
                    </tr> -->

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Learner support - 20+ Childcare</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a8"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b8"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c8"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Learner support - Residential access fund</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a9"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b9"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text" >
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c9"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Learner support - Administration expenditure</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a10"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b10"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c10"></td>
                    </tr>

                  </tbody>
                </table>

                <table class="govuk-table">

                  <thead class="govuk-table__head">

                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Community learning - Programme funding</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" id="a11"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="b11"></td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                        <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Total delivery</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding" id="c11"></td>
                    </tr>
      <!-- Delivered so far: £1,999,999,999.80 -->


                  </tbody>




                </table>

                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Total</th>
                      <th class="govuk-table__header govuk-table__header--numeric" scope="col" id="12"></th>
                    </tr>
                  </tbody>
                </table>

        </div>
      </div>

      <!-- Adult claim section 2 -->

      <div id="ls-p" class="govuk-grid-row wrapper">
        <div class="govuk-grid-column-full">
          <div >
                <h2 class="govuk-heading-m">
                  Learner support (for procured AEB)
                </h2>
          </div>
            <p>
              Total: £1600.16
            </p>
            <p>Contract Value: £500.45</p>

              <table class="govuk-table">

                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">19+ Hardship</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                  </tr>
                </thead>

                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£100.01</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£200.02</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Total delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£300.03</td>
                  </tr>

                </tbody>
              </table>

              <table class="govuk-table">

                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">20+ Childcare</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                  </tr>
                </thead>

                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£300.03</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£400.04</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Total delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£700.07</td>
                  </tr>

                </tbody>
              </table>

              <table class="govuk-table">

                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Residential access fund</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                  </tr>
                </thead>

                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£500.05</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£600.06</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Total delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1100.11</td>
                  </tr>

                </tbody>
              </table>

              <table class="govuk-table">

                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Administration expenditure</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                  </tr>
                </thead>

                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£700.07</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£800.08</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                      <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Total delivery</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1500.15</td>
                  </tr>

                </tbody>
              </table>

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Total</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">£1600.16</th>
                  </tr>
                </tbody>
              </table>

        </div>
      </div>

      <!-- Adult funding claim section 3 -->

      <div id="allb" class="govuk-grid-row wrapper">
          <div class="govuk-grid-column-full">
            <div>
                <h2 class="govuk-heading-m">
                  Advanced learner loans bursary
                </h2>
            </div>
            <p>
              Total: £270.07
            </p>
            <p>Contract Value: £105.00</p>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Bursary funding</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£10.01</td>
                </tr>

                <!-- <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr> -->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£20.02</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£30.03</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Hardship</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£30.03</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£40.04</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£70.07</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Childcare</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.05</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£60.06</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£110.11</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Residential access fund</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£70.07</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£80.08</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£150.15</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Area costs</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£90</td>
                </tr>

                <!-- <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr> -->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£100</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£190.19</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Excess claims</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£110.11</td>
                </tr>

                <!-- <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr> -->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£120.20</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£230.31</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Administration expenditure</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£18,000</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£130.30</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                    <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Total delivery</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£140.40</td>
                </tr>

              </tbody>
            </table>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Total</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">£270.07</th>
                </tr>
              </tbody>
            </table>



          <a href="year-end-claim-16-19.html" role="button" class="govuk-button">Save and continue</a>

          <p class="govuk-body"><a href="saved-updates.html" role="button" class="govuk-link">Save and finish later</a></p>



          <!-- <a href="year-end-claim-16-19.html" role="button" class="govuk-link pagination">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="next-link govuk-!-font-size-19">Next</span><br>
            <span class="whats-next-link">16 - 19 Funding claim</span>
          </a> -->

        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}
