{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
       <h1 class="govuk-heading-xl">Funding Reports</h1>




        <h2 class="govuk-heading-m">Year end</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              19 to 23 apprenticeships programme funding
            </dt>
            <dd class="govuk-summary-list__value">
              £99,999.00
            </dd>
            <dd class="govuk-summary-list__value">
              £2000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="update-funding-data.html">
                Edit
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              19-23 Apprenticeships Learning Support
            </dt>
            <dd class="govuk-summary-list__value">
              £99,999.00
            </dd>
            <dd class="govuk-summary-list__value">
              £5000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="update-funding-data.html">
                Edit
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              24+ Apprenticeships Programme Funding
            </dt>
            <dd class="govuk-summary-list__value">
              £99,999.00
            </dd>
            <dd class="govuk-summary-list__value">
              £3000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="update-funding-data.html">
                Edit
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>







<!-- ------------------tab 2 -------------------- -->






</div>

</div>



{% endblock %}
