{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
       <h1 class="govuk-heading-xl">Funding Reports</h1>





<p>For new submissions or to correct the data you've already submitted, <a href="confirm-funding-data.html">submit another file</a>.</p>







   <!-- <h2 class="govuk-heading-l" id="submission">Submission history  <span class="govuk-caption-l">RO2</span></h2> -->
<p>Each time you submit a new file your reports will be updated. To view your latest<br> reports you should download the reports for your most recent submission.</p>




 <h3 class="govuk-heading-m">Final year claims</h3>

 <table class="govuk-table">
 <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
 <thead class="govuk-table__head">
   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Submitted by</th>
   <th class="govuk-table__header" scope="col">Reports</th>

   </tr>
 </thead>
 <tbody id="submissions" class="govuk-table__body">
   <tr class="govuk-table__row ilr">
     <th class="govuk-table__header" scope="row">14 January 2019 at 1:00pm</th>
       <td class="govuk-table__cell">Bob Afett</td>
       <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

   </tr>
   <tr class="govuk-table__row esf">
     <th class="govuk-table__header" scope="row">14 January 2019 at 8:00am</th>
       <td class="govuk-table__cell">Bob Afett</td>
       <td class="govuk-table__cell">Failed</td>

   </tr>
   <tr class="govuk-table__row ilr">
     <th class="govuk-table__header" scope="row">11 January 2019 at 1:00pm</th>
       <td class="govuk-table__cell">Bob Afett</td>
       <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

   </tr>
   <tr class="govuk-table__row eas">
     <th class="govuk-table__header" scope="row">15 December 2019 at 1:00pm</th>
       <td class="govuk-table__cell">Bob Afett</td>
       <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

   </tr>
 </tbody>
</table>

<h3 class="govuk-heading-m">Year end claims</h3>

           <table class="govuk-table">
<caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
<thead class="govuk-table__head">
 <tr class="govuk-table__row">
   <th class="govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header" scope="col">Submitted by</th>
 <th class="govuk-table__header" scope="col">Reports</th>

 </tr>
</thead>
<tbody id="submissions" class="govuk-table__body">
 <tr class="govuk-table__row ilr">
   <th class="govuk-table__header" scope="row">14 December 2018 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
 <tr class="govuk-table__row esf">
   <th class="govuk-table__header" scope="row">14 December 2018 at 8:00am</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell">Failed</td>

 </tr>
 <tr class="govuk-table__row ilr">
   <th class="govuk-table__header" scope="row">11 December 2018 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
 <tr class="govuk-table__row eas">
   <th class="govuk-table__header" scope="row">15 December 2019 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
</tbody>
</table>

<h3 class="govuk-heading-m">Mid year claims</h3>

           <table class="govuk-table">
<caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
<thead class="govuk-table__head">
 <tr class="govuk-table__row">
   <th class="govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header" scope="col">Submitted by</th>
 <th class="govuk-table__header" scope="col">Reports</th>

 </tr>
</thead>
<tbody id="submissions" class="govuk-table__body">
 <tr class="govuk-table__row ilr">
   <th class="govuk-table__header" scope="row">14 November 2018 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
 <tr class="govuk-table__row esf">
   <th class="govuk-table__header" scope="row">14 November 2018 at 8:00am</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell">Failed</td>

 </tr>
 <tr class="govuk-table__row ilr">
   <th class="govuk-table__header" scope="row">11 November 2018 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
 <tr class="govuk-table__row eas">
   <th class="govuk-table__header" scope="row">15 November 2018 at 1:00pm</th>
     <td class="govuk-table__cell">Bob Afett</td>
     <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">View</a></td>

 </tr>
</tbody>
</table>




<!-- ------------------tab 2 -------------------- -->






</div>

</div>



{% endblock %}
