{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<script src="/public/javascripts/tt.js"></script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">





<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Other learning - programme funding</th>
      <th class="govuk-table__header" scope="col">Year end</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Delivery to date</td>
      <td class="govuk-table__cell" id="a2"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Forecasted delivery</td>
      <td class="govuk-table__cell" id="b2"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Update forecasted delivery</td>
      <td class="govuk-table__cell" ></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total delivery</td>
      <td class="govuk-table__cell" id="c2"></td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Other learning - learning support</th>
      <th class="govuk-table__header" scope="col">Year end</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Delivery to date</td>
      <td class="govuk-table__cell" id="a3"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Forecasted delivery</td>
      <td class="govuk-table__cell" id="b3"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Update forecasted delivery</td>
      <td class="govuk-table__cell" ></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total delivery</td>
      <td class="govuk-table__cell" id="c3"></td>
    </tr>
  </tbody>
</table>

  </div>
</div>



{% endblock %}
