{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Mid year funding claim</h1>
    <h2 class="govuk-heading-m">Adult funding claim 2018/19</h2>

  <div class="govuk-accordion" data-module="accordion" id="accordion-with-summary-sections">

    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
            Adult education budget (non-procured)
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
          Total: £110,234.82
        </div>

      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

        <p>Contract value: £7,900.00<br>
        Incl. community learning: £1,000.00</p>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Other Learning - Programme Funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.75</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1,000.10
                  <!-- <strong><a href="#">Edit</a></strong> -->
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£11,000.85</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Other Learning - Learning Support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.75</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£2,000.20</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£12,000.95</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships Programme Funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£14,500.54</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£3000.30</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£17,500.54</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships Learning Support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2300.45</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£4000.40</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£6300.85</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships Learner Support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£7820.82</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£5000.50</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£12,821.32</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner Support - 19+ Hardship</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£6000.60</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£7000.70</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£13,001.30</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner Support - 20+ Childcare</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8000.80</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£9000.90</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£17,001.70</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner Support - Residential Access Fund</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.10</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£11,000.11</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£21,000.21</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner Support - Administration Expenditure</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£12,000.12</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£13,000.13</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£25,000.25</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Community Learning - Programme Funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivered so far</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£14,000.14</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£15,000.15</td>
              </tr>



              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£29,000.29</td>
              </tr>
<!-- Delivered so far: £1,999,999,999.80 -->


            </tbody>




          </table>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Total</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">£110,234.82</th>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Learner support (for procured AEB)
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Total: £1600.16

      </div>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

      <p>Contract Value: £500.45</p>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">19+ Hardship</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£100.01</td>
            </tr>



            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£200.02</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£300.03</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">20+ Childcare</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£300.03</td>
            </tr>



            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£400.04</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£700.07</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Residential Access Fund</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£500.05</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£600.06</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1100.11</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Administration Expenditure</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£700.07</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£800.08</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1500.15</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Total</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">£1600.16</th>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Advanced learner loans bursary
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Total: £270.07<br>

      </div>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

        <p>Contract Value: £105.00</p>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Bursary Funding</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£10.01</td>
            </tr>

            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
              </td>
            </tr> -->

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£20.02</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£30.03</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Hardship</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£30.03</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£40.04</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£70.07</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Childcare</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£50.05</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£60.06</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£110.11</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Residential Access Fund</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£70.07</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£80.08</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£150.15</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Area Costs</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£90</td>
            </tr>

            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
              </td>
            </tr> -->

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£100</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£190.19</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Excess Claims</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£110.11</td>
            </tr>

            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
              </td>
            </tr> -->

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£120.20</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£230.31</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Administration Expenditure</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Delivered so far</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£18,000</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£130.30</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Total delivery</td>
              <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£140.40</td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Total</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">£270.07</th>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

  </div>

    <!-- <a href="year-end-claim-16-19.html" role="button" class="govuk-button">Save and continue</a>

    <p class="govuk-body"><a href="saved-updates.html" role="button" class="govuk-link">Save and finish later</a></p> -->



    <a href="16-19-submitted.html" role="button" class="govuk-link pagination">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="next-link govuk-!-font-size-19">Next</span><br>
      <span class="whats-next-link">16 - 19 funding claim</span>
    </a>
  <br>
    <p class="govuk-body"><a href="edit-data.html" role="button" class="govuk-link">View your submissions</a></p>
    <p class="govuk-body"><a href="#" role="button" class="govuk-link">Download submission report (Excel)</a></p>
  </div>
</div>



{% endblock %}
