{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've submitted your data successfully
          </h1>
          <div class="govuk-panel__body">
            Your reference number
            <br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>


<p class="govuk-body"><a href="edit-data.html" class="govuk-link">View your funding claim submissions</a></p>
<!-- <p class="govuk-body"><a href="#" role="button" class="govuk-link">Print </a></p> -->



        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You can edit your data and submit again until 27 February 2019.</p>

        <p>After the deadline, your signatory will be contacted to sign off the data through MYESF within 3 working days. Your reports will be ready the next working day.</p>


        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>


    </div>


    <!-- <p>The service will help you to understand:</p> -->



    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
