
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <table class="govuk-table">
 <caption class="govuk-table__caption visually-hidden">List of versions</caption>
 <thead class="govuk-table__head">
   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="col">Version</th>
  <th class="govuk-table__header" scope="col">Updates</th>
     <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
   </tr>
 </thead>
 <tbody class="govuk-table__body">


   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="row">Lemon Sherbert 1.2.0<p>22/03/2019</p></th>
       <td class="govuk-table__cell ">
           <p>Alpha - in progress 22/03/2019</p>
           <ul class="govuk-list govuk-list--bullet">


           </ul>
       </td>
       <td class="govuk-table__cell "><a href="#">Contents</a></td>
       <td class="govuk-table__cell "><a href="1-2-0/start.html">Start now</a></td>
   </tr>

   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="row">Lemon Sherbert 1.1.0<p>18/03/2019</p></th>
       <td class="govuk-table__cell ">
           <p>Alpha - in progress 08/03/2019</p>
           <ul class="govuk-list govuk-list--bullet">

               <li>Added googlesheets database <a href="1-1-0/year-end-claim-adult">Adult Funding Claim</a></li>
               <li>Removed accordions on all funding streams</li>
               <li>Split funding strems into separate sections</li>
           </ul>
       </td>
       <td class="govuk-table__cell "><a href="#">Contents</a></td>
       <td class="govuk-table__cell "><a href="1-1-0/start.html">Start now</a></td>
   </tr>


   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="row">Lemon Sherbert 1.0.1<p>08/03/2019</p></th>
       <td class="govuk-table__cell ">
           <p>Alpha - in progress 08/03/2019</p>
           <ul class="govuk-list govuk-list--bullet">

               <li>Content updates on <a href="1-0-1/start">start page</a></li>
               <li>Content updates on <a href="1-0-1/year-end-claim-adult">Adult funding</a></li>
               <li>Content updates on <a href="1-0-1/year-end-claim-16-19">16-19 funding</a></li>
           </ul>
       </td>
       <td class="govuk-table__cell "><a href="#">Contents</a></td>
       <td class="govuk-table__cell "><a href="1-0-1/start.html">Start now</a></td>
   </tr>


   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="row">Lemon Sherbert 1.0.0<p>11/02/2019</p></th>
       <td class="govuk-table__cell ">
           <p>Alpha - in progress 11/02/2019</p>
           <!-- <ul class="govuk-list govuk-list--bullet">

               <li><a href="#"></a></li>
               <li><a href="#"></a></li>
               <li><a href="#"></a></li>
           </ul> -->
       </td>
       <td class="govuk-table__cell "><a href="#">Contents</a></td>
       <td class="govuk-table__cell "><a href="1-0-0/start.html">Start now</a></td>
   </tr>




 </tbody>
</table>
  </div>
</div>

{% endblock %}
