{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">We've saved your updates</h1>

    <p class="govuk-body">Remember to complete your claim by 21 February 2019</p>

    <p class="govuk-body"><a href="#" id="backlink" role="button" class="govuk-link">Continue submission</a></p>

    <p class="govuk-body"><a href="edit-data.html" role="button" class="govuk-link">View previous submissions</a></p>

    <p class="govuk-body"><a href="start.html" role="button" class="govuk-link">Log out</a></p>



  </div>
</div>



{% endblock %}
