{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Year end funding claim
      <span class="govuk-caption-xl">Adult Funding Claim 2018/19</span>
    </h1>









      <h2 class="govuk-heading-m sticky">

          Advanced learner loans bursary

      </h2>
      <p>
        Total: £270.07
      </p>
      <p>Contract Value: £105.00</p>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Bursary funding</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£10.01</td>
          </tr>

          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr> -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£20.02</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£30.03</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Hardship</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£30.03</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£40.04</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£70.07</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Childcare</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.05</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£60.06</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£110.11</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Residential access fund</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£70.07</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£80.08</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£150.15</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Area costs</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£90</td>
          </tr>

          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr> -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£100</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£190.19</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Excess claims</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£110.11</td>
          </tr>

          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr> -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£120.20</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£230.31</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Administration expenditure</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£18,000</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update Delivered so far</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£130.30</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
              <input class="govuk-input govuk-input--width-10 inner" id="width-10" name="width-10" type="text">
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Total delivery</td>
            <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£140.40</td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Total</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">£270.07</th>
          </tr>
        </tbody>
      </table>



    <a href="year-end-claim-16-19.html" role="button" class="govuk-button">Save and continue</a>

    <p class="govuk-body"><a href="saved-updates.html" role="button" class="govuk-link">Save and finish later</a></p>



    <!-- <a href="year-end-claim-16-19.html" role="button" class="govuk-link pagination">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="next-link govuk-!-font-size-19">Next</span><br>
      <span class="whats-next-link">16 - 19 Funding claim</span>
    </a> -->

  </div>
</div>



{% endblock %}
