{% extends "layout.html" %}

{% block pageTitle %}
Your funding claims data
{% endblock %}

<!-- breadcrum goes here -->

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Year end funding claims
      <span class="govuk-caption-xl">Adult Funding Claim 2018/19</span>
    </h1>






        <h2 class="govuk-heading-m">
          Adult education budget (non-procured)
        </h2>
        <p>
          Total: £110,234.82
        </p>
        <p>Contract value: £7,900.00<br>
        Incl. community learning: £1,000.00</p>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Other learning - programme funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.75</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£1,000.10
                  <!-- <strong><a href="#">Edit</a></strong> -->
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£11,000.85</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Other learning - learning support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.75</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£2,000.20</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£12,000.95</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships programme funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£14,500.54</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£3000.30</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£17,500.54</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships learning support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2300.45</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£4000.40</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£6300.85</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">19-24 Traineeships learner support</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£7820.82</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£5000.50</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£12,821.32</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner support - 19+ Hardship</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£6000.60</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£7000.70</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£13,001.30</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner support - 20+ Childcare</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8000.80</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£9000.90</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£17,001.70</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner support - Residential access fund</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£10,000.10</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£11,000.11</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£21,000.21</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Learner support - Administration expenditure</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£12,000.12</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£13,000.13</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£25,000.25</td>
              </tr>

            </tbody>
          </table>

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Community learning - Programme funding</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year end</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£14,000.14</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update delivery to date</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£15,000.15</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Update forecasted delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Total delivery</td>
                <td class="govuk-table__cell govuk-table__cell--numeric remove-right-padding">£29,000.29</td>
              </tr>
<!-- Delivered so far: £1,999,999,999.80 -->


            </tbody>




          </table>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Total</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">£110,234.82</th>
              </tr>
            </tbody>
          </table>







    <a href="year-end-claim-adult-p2.html" role="button" class="govuk-button">Save and continue</a>

    <p class="govuk-body"><a href="saved-updates.html" role="button" class="govuk-link">Save and finish later</a></p>



    <!-- <a href="year-end-claim-16-19.html" role="button" class="govuk-link pagination">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="next-link govuk-!-font-size-19">Next</span><br>
      <span class="whats-next-link">16 - 19 Funding claim</span>
    </a> -->

  </div>
</div>



{% endblock %}
